# Ejercicios Modulo 5. Bases de datos con SQLite (Soluciones)

Consideraciones a tener en cuenta: 

* Guardar este documento con el siguiente formato para su entrega: __M5_04_nombre_apellido1_apellido2__
* Realizar los ejercicios con las herramientas vistas en las sesiones. 
* Comentar el código
* Utilizar nombres de variables apropiados, si vais a guardar una nota, llamar a esa variable nota, no n o x

**1) Practiquemos un poco con SQLite:**

* Crea una base de datos que se llame biblioteca
* Crea las siguiente tablas (deberás poner los tipos de los atributos con lógica, investiga cuales hay en SQLite para poder hacerlo):
    * autor(dni, nombre, apellidos, estarVivo)
    * libro(isbn, titulo, editorial, año_escrito)
    * usuario(dni, nombre, apellidos, numPrestamos)
* Inserta al menos 3 registros en cada una de las tablas
    * En autor, algunos vivos y otros muertos
    * En libro, algunos con año de escritura anerior a 1900 y otros después
    * En usuario, algunos con más de 10 prestamos y otros con menos
* Comprueba que todo este correcto con DB Browser (SQLite)
* Realiza las siguientes consultas:
    * Lista a todos los autores
    * Lista todos los libros
    * Lista todos los usuarios
    * Lista todos los autores que esten vivos (CLAUSULA WHERE)
    * Lista todos los libros que hayan sido escritos posteriormente a 1900
    * Lista todos los usuarios que se hayan llevado más de 10 libros y que se llamen Paco

In [3]:
# Completa el ejercicio aquí

import sqlite3

conexion = sqlite3.connect("biblioteca2.db")
cursor = conexion.cursor()

cursor.execute("CREATE TABLE autor (dni VARCHAR(9) PRIMARY KEY, nombre VARCHAR(20) NOT NULL, apellidos VARCHAR(50) NOT NULL, estarVivo BOOLEAN)")
cursor.execute("CREATE TABLE libro (isbn VARCHAR(13) PRIMARY KEY, titulo VARCHAR(30) NOT NULL, editorial VARCHAR(20) NOT NULL, año_escrito INTEGER(4) NOT NULL)")
cursor.execute("CREATE TABLE usuario (dni VARCHAR(9), nombre VARCHAR(20) NOT NULL, apellidos VARCHAR(50) NOT NULL, numPrestamos INTEGER (2) NOT NULL)")
conexion.commit()

In [4]:
cursor.execute("INSERT INTO autor VALUES ('75351025W', 'Haruki', 'Murakami', True)")
cursor.execute("INSERT INTO autor VALUES ('35426278T', 'Dante', 'Alighieri', False)")
cursor.execute("INSERT INTO autor VALUES ('65913812Y', 'Gabriel', 'García Márquez', False)")

cursor.execute("INSERT INTO libro VALUES ('1234657832014', 'Tokio Blues', 'Anaya', '1987')")
cursor.execute("INSERT INTO libro VALUES ('2345687832014', '1Q84', 'Anaya', '2009')")
cursor.execute("INSERT INTO libro VALUES ('9874151815118', 'Vita nuova', 'NO EDITORIAL', '1293')")
cursor.execute("INSERT INTO libro VALUES ('4563217862568', 'Divina comedia', 'NO EDITORIAL', '1321')")
cursor.execute("INSERT INTO libro VALUES ('7921050048318', 'El amor en los tiempos del cólera', 'Hispana', '1985')")
cursor.execute("INSERT INTO libro VALUES ('5678923724233', 'Cien años de soledad', 'DeBolsillo', '1967')")

cursor.execute("INSERT INTO usuario VALUES ('82223348M', 'Blanca', 'González', '5')")
cursor.execute("INSERT INTO usuario VALUES ('74522103T', 'Luis', 'Miranda', '11')")
cursor.execute("INSERT INTO usuario VALUES ('45178412B', 'Antonio', 'Pérez', '2')")
conexion.commit()

In [5]:
conexion.close()

In [6]:
import sqlite3

conexion = sqlite3.connect("biblioteca2.db")
cursor = conexion.cursor()

cursor.execute("SELECT * FROM autor")
autor = cursor.fetchall()
print("Autores","\n",autor,"\n")

cursor.execute("SELECT * FROM libro")
libro = cursor.fetchall()
print("Libros","\n",libro,"\n")

cursor.execute("SELECT * FROM usuario")
usuarios = cursor.fetchall()
print("Usuarios","\n", usuarios, "\n")

cursor.execute("SELECT * FROM autor WHERE estarVivo = True")
autor_vivos = cursor.fetchall()
print("Autores vivos","\n",autor_vivos,"\n")

cursor.execute("SELECT * FROM libro WHERE año_escrito >= 1900")
libro_1900 = cursor.fetchall()
print("Libros escritos posteriormente a 1900","\n",libro_1900,"\n")

cursor.execute("SELECT * FROM usuario WHERE numPrestamos > 10 AND nombre = 'Paco'")
paco_10prestamos = cursor.fetchall()
print("Usuarios","\n", paco_10prestamos, "\n")

Autores
 [('75351025W', 'Haruki', 'Murakami', 1), ('35426278T', 'Dante', 'Alighieri', 0), ('65913812Y', 'Gabriel', 'García Márquez', 0)]

Libros
 [('1234657832014', 'Tokio Blues', 'Anaya', 1987), ('2345687832014', '1Q84', 'Anaya', 2009), ('9874151815118', 'Vita nuova', 'NO EDITORIAL', 1293), ('4563217862568', 'Divina comedia', 'NO EDITORIAL', 1321), ('7921050048318', 'El amor en los tiempos del cólera', 'Hispana', 1985), ('5678923724233', 'Cien años de soledad', 'DeBolsillo', 1967)]

Usuarios
 [('82223348M', 'Blanca', 'González', 5), ('74522103T', 'Luis', 'Miranda', 11), ('45178412B', 'Antonio', 'Pérez', 2)]

Autores vivos
 [('75351025W', 'Haruki', 'Murakami', 1)]

Libros escritos posteriormente a 1900
 [('1234657832014', 'Tokio Blues', 'Anaya', 1987), ('2345687832014', '1Q84', 'Anaya', 2009), ('7921050048318', 'El amor en los tiempos del cólera', 'Hispana', 1985), ('5678923724233', 'Cien años de soledad', 'DeBolsillo', 1967)]

Usuarios
 []

In [7]:
conexion.close()